h1 {

    color: #008cff;
    font-size: 90px;
    text-align: center; 
    font-family: 'Anton', sans-serif;
} 

body {  
      background-image: url("IMG_4412.jpg");
}
p { 
   font-size: 50px;
   color: #e80000;
  font-family: 'Abril Fatface', cursive;
}


img {
max-width: 100%;
} 

